{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<head>

    <h2>На данных ресурсах можно узнать много нового</h2>
    <a href ="https://ru.whoscored.com/" target="_blank"> <img src="{% static 'app/content/Logowhy.png' %}" alt="Logo 1"/></a></ul>
    <a href ="https://www.uefa.com/" target="_blank"> <img src="{% static 'app/content/Logouefa.png' %}" alt="Logo 2"/></a></ul>
    <a href ="https://www.transfermarkt.de/" target="_blank"> <img src="{% static 'app/content/Logotra.png' %}" alt="Logo 3"/></a></ul>
    <a href ="https://www.squawka.com/en/" target="_blank"> <img src="{% static 'app/content/Logosqu.png' %}" alt="Logo 4"/></a></ul>
    <a href ="https://www.dailymail.co.uk/sport/football/" target="_blank"> <img src="{% static 'app/content/Logopng.png' %}" alt="Logo 5"/></a></ul>
    <a href ="https://www.bbc.com/sport/football/" target="_blank"> <img src="{% static 'app/content/Logobbc.png' %}" alt="Logo 6"/></a></ul>
    <a href ="https://www.theguardian.com/football/" target="_blank"> <img src="{% static 'app/content/Logogua.png' %}" alt="Logo 7"/></a></ul>
    <a href ="https://www.fourfourtwo.com/" target="_blank"> <img src="{% static 'app/content/Logofft.png' %}" alt="Logo 8"/></a></ul>
    <a href ="https://www.marca.com/" target="_blank"> <img src="{% static 'app/content/Logomar.png' %}" alt="Logo 9"/></a></ul>
    <a href ="https://understat.com/" target="_blank"> <img src="{% static 'app/content/Logound.png' %}" alt="Logo 10"/></a></ul>
</head>

{% endblock %}